{
    "bot_version": "1.0.0",

    "mirai_qq": "",
    "mirai_key": "yourkey",
    "mirai_ip": "127.0.0.1",
    "mirai_port": "8080",

    "mongdb_ip": "127.0.0.1",
    "mongodb_port": "27017",
    "mongodb_username": "admin",
    "mongodb_password": "pwd"

}